/* USER VARIABLES SECTION */

:root {
	--accent: #FDC500;
	--accent-light: #FECE25;
	--gutter: 20px;
	--text: #333;
	--dark: #202328;
	--deep: #171A1A;
	--dark-header: #6F7A8B;
	--dark-div: #2D3038;
	--light-bg: #FAFAFA;
	--light-disabled: #E4E6E8;
	--light-div: #E7E7E8;
	--middle-gray: rgba(111, 122, 139, 0.75);
	--text-light: #999999;
	--regular-text: 16px;
	--small-text: 14px;
	--lineheight: 1.75;
	--userfont: raleway-wt, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--radius: 5px;
	--radius-style: 0 5px;
	--transition: .25s ease-out;
	--element: #989DA5;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-300.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-500.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-600.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-700.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-800.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 800; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-900.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 900; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-regular.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 400; font-style: normal; }

@font-face { src: url("../fonts/roboto/roboto-v29-cyrillic-300.woff2") format("woff2"); font-family: "roboto-wt"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-cyrillic-500.woff2") format("woff2"); font-family: "roboto-wt"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-cyrillic-700.woff2") format("woff2"); font-family: "roboto-wt"; font-weight: 700; font-style: normal; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	/* background-color: #2D3038; */
}

/* BUTTON */

.button {
	outline: none;
	border: none;
	background-color: var(--accent);
	color: #fff;
	border-radius: var(--radius-style);
	display: inline-block;
	padding: 10px 28px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	position: relative;
	letter-spacing: .25px;
	text-decoration: none;
}
.button:hover {
	color: #fff;
	text-decoration: none;
	background-color: var(--accent-light);
}
.button:active {
	background-color: var(--accent-dark);
}

/* NAVBAR */

.navbar {
	position: absolute;
	top: 0;
	z-index: 1000;
	padding: 30px 0 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	/* left: 50px;
	right: 50px; */
	width: 100%;
	background-color: rgba(32, 35, 40, 0.9);
}
/* .navbar .container {
	left: 50px;
	right: 50px;
} */

.logo__link img {
	width: 134px;
	height: 46px;
	position: relative;
	margin-right: 7px;
	top: 1px;
}

.top-menu {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: opacity var(--transition), visibility var(--transition);
}
.top-menu__item {
	padding: 0;
	list-style-type: none;
	/* display: inline-block; */
	margin: 0 5px;
}
.top-menu__link {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	padding: 7.5px 16px;
	border-radius: var(--radius-style);
	transition: background var(--transition);
}
.top-menu__link:hover,
.top-menu__link:focus,
span.top-menu__link {
	color: #fff;
	background-color: var(--accent);
}
.menu-container {
	position: relative;
	padding-top: 9px;
	padding-left: 36px;
}
.menu-toggle {
	width: 22px;
	height: 22px;
	background-image: url(../images/interface/menu-white.svg);
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	top: 3px;
	display: none;
	right: 0;
}
.menu-toggle_active {
	background-image: url(../images/interface/x.svg);
}
.top-menu.top-menu_active {
	visibility: visible;
	opacity: 1;
}

.nav-phone-wrap {
	text-align: right;
}
.nav-phone__link,
.nav-phone__link:hover {
	padding: 12px 20px;
	font-family: roboto-wt, sans-serif;
	font-weight: 500;
	font-size: 18px;
	text-decoration: none;
	color: #fff;
}

/* SLIDER */

.home-slider {
	position: relative;
	height: 100vh;
	min-height: 580px;
	max-height: 720px;
	color: #fff;
	background-color: var(--dark);
}
.home-slider__slide {
	background-size: cover;
	background-position: bottom;
	display: flex;
	align-items: center;
	padding: 0 10px;
}
.home-slider__slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark);
	opacity: .15;
}
.home-slider__slide::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	left: 16px;
	bottom: 10px;
	z-index: 1;
	box-shadow: 0 0 0 30px var(--dark);
	border-radius: var(--radius);
}
.home-slider__slide .container {
	z-index: 2;
	position: relative;
	/* margin-top: 135px; */
}
[data-animate] {
	opacity: 0;
	transition: all .8s ease-out;
}
[data-animate="bottom"] {
	transform: translate3d(0, 15px, 0);
}
.home-slider__slide.swiper-slide-active [data-animate] {
	opacity: 1;
	transform: none;
}
.home-slider__slide.swiper-slide-active .home-slider__heading {
	transition-delay: .6s;
}
.home-slider__slide.swiper-slide-active .home-slider__text {
	transition-delay: 1s;
}
.home-slider__heading {
	font-size: 58px;
	line-height: .8;
	font-weight: 600;
	margin-bottom: 35px;
	transition-delay: .3s;
}
.home-slider__heading span {
	font-size: 18px;
	background-color: var(--accent);
	border-radius: var(--radius-style);
	padding: 6px 16px 7px;
	font-weight: 500;
	color: #24262A;
}
.home-slider__text {
	max-width: 328px;
	font-size: var(--small-text);
	background-color: rgba(32, 35, 40, 0.9);
	padding: 15px 22px;
	border-radius: 0 calc(var(--radius) * 2);
	/* margin-top: 105px; */
}
.home-feature {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	text-align: center;
}
.home-feature__item {
	list-style-type: disc;
	font-size: 18px;
	color: var(--accent);
}
.home-feature__item span {
	color: #fff;
}
.home-feature__item:first-child {
	list-style-type: none;
}
.home-slider__address {
	/* margin-top: 87px; */
	font-weight: 700;
}
.home-slider__address span {
	padding: 0 7px;
}
.home-slider__address-wraper {
	margin-top: -75px;
	z-index: 1000;
}
.home-slider__bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 440px;
	background-color: var(--dark);
	z-index: 1;
	right: 0;
	border-radius: calc(var(--radius) * 2) 0 0 0;
	padding: 45px 40px 45px 15px;
	font-size: 12px;
	color: #59606C;
}
.home-slider__pagination-wrapper {
	position: relative;
}
.home-slider__pagination {
	font-family: roboto-wt, sans-serif;
	font-weight: 300;
	bottom: inherit;
	margin-top: -10px;
}
.home-slider__pagination span {
	width: 1px;
	height: 28px;
	background-color: #353941;
	display: inline-block;
	vertical-align: middle;
	margin: -3px 8px 0;
}
.home-slider__pagination b {
	position: relative;
	font-size: 15px;
	color: #818B9D;
	font-weight: 300;
}
.home-slider__bottom .swiper-scrollbar-drag {
	height: 5px;
}
.home-slider__nav {
	position: relative;
}
.home-slider__prev, .home-slider__next {
	outline: none;
}
.home-slider__prev::after, .home-slider__next::after {
	font-size: 14px;
	color: #818B9D;
}

/* ABOUT */

.about {
	padding: 80px 0 50px;
}
.about__item-wrapper {
	margin-bottom: var(--gutter);
}
.about-slider-wrapper {
	text-align: center;
}
.about-slider {
	width: 100%;
	position: relative;
	display: inline-block;
	max-width: 440px;
}
.about-slider img {
	width: 100%;
	border-radius: var(--radius-style);
}
.about-slider::before {
	content: '';
	width: 50%;
	height: 50%;
	top: -15px;
	left: -15px;
	background-color: var(--dark);
	position: absolute;
	border-radius: var(--radius-style);
	opacity: 0.1;
}
.about-slider__caption {
	position: absolute;
	display: flex;
	bottom: 60px;
	z-index: 1;
	color: #fff;
	right: -25px;
	padding: 5px 25px 5px 25px;
	border-radius: var(--radius-style);
	font-family: roboto-wt, sans-serif;
	font-weight: 700;
	font-size: 52px;
	overflow: hidden;
}
.about-slider__caption::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--dark);
	opacity: 0.9;
	z-index: -1;
}
.caption-number {
	display: flex;
  flex-direction: column;
  height: 102px;
  margin-top: -13px;
  margin-right: 8px;
}
.caption-number__main {
	height: 62%;
}
.about-slider__caption span {
	font-size: 21px;
	font-family: raleway-wt, sans-serif;
	font-weight: 300;
	max-width: 120px;
	display: inline-block;
	line-height: 1.2;
	text-align: left;
	padding-left: 2px;
	padding-top: 5px;
}
.about-slider__caption p {
	font-size: 24px;
	font-family: raleway-wt, sans-serif;
	font-weight: 700;
	max-width: 100px;
	display: inline-block;
	line-height: 1.2;
	/* text-align: left; */
	padding-left: 2px;
	margin-bottom: 10px;
}

/* USAGE */

.usage {
	background-color: var(--light-bg);
}
.usage__top {
	background-color: var(--dark);
	color: #fff;
	padding-top: 65px;
	padding-bottom: 170px;
}
.usage__top-wrapper {
	display: flex;
	align-items: center;
}
.usage__left,
.usage__right {
	flex: 0 0 50%;
	margin-bottom: var(--gutter);
}
.usage__left {
	font-size: var(--small-text);
	text-align: right;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right: var(--dark-div) 1px solid;
}
.usage__right {
	padding-left: 40px;
}
.usage__bottom {
	margin-top: -130px;
	padding-bottom: 65px;
}
.usage__item-wrapper {
	overflow: hidden;
	margin-bottom: var(--gutter);
}
.usage__button-wrapper {
	text-align: center;
	margin-top: 25px;
}

/* SECTION TITLE */

.section-title__name {
	color: var(--accent);
	font-weight: 800;
	text-transform: uppercase;
}
.section-title__name::before {
	content: '\\\\';
	margin-right: 5px;
}
.section-title__desc {
	line-height: 1.2;
	font-size: 29px;
	margin: 0;
	margin-top: 5px;
	font-weight: 800;
}
.section-title__paragraph {
	font-size: var(--small-text);
	margin: 0;
	margin-bottom: 40px;
}
.section-title--dotted .section-title__desc {
	margin-bottom: 25px;
}
.section-title--dotted .section-title__desc::after {
	content: '';
	display: block;
	height: 5px;
	width: 40px;
	background-image: url(../images/interface/ellipse-accent.svg);
	background-repeat: repeat-x;
	margin-top: 28px;
}

/* USAGE ITEM */

.usage-item {
	background-color: #fff;
	display: block;
	height: 100%;
	text-decoration: none;
	border-bottom: 3px solid var(--light-disabled);
	transition: border var(--transition);
	color: var(--text);
}
.usage-item__img-wrapper {
	position: relative;
}
.usage-item__img-wrapper img {
	width: 100%;
}
.usage-item__content {
	padding: 25px;
	color: var(--text);
}
.usage-item__desc {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.28;
	position: relative;
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.usage-item__desc::before,
.usage-item__desc::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 10px;
	background-image: url(../images/interface/ellipse-accent.svg);
	background-repeat: repeat-y;
	background-position: 3px 9.5px;
}
.usage-item__desc::after {
	background-image: url(../images/interface/ellipse-gray.svg);
	transition: opacity .5s ease-out;
}
.usage-item:hover .usage-item__desc {
	text-decoration: underline;
}
.usage-item:hover .usage-item__desc::after {
	opacity: 0;
}
.usage-item__img-wrapper::before,
.usage-item__img-wrapper::after {
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background-image: url(../images/interface/triangle-white.svg);
	background-position: 25px 25px;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity .5s ease-out, background-position .5s ease-out;
}
.usage-item__img-wrapper::before {
	background-color: rgba(32, 35, 40, 0.25);
}
.usage-item__img-wrapper::after {
	transform: rotate(180deg);
}
.usage-item:hover {
	border-color: var(--accent);
	color: var(--text);
	text-decoration: none;
}
.usage-item:hover .usage-item__img-wrapper:before,
.usage-item:hover .usage-item__img-wrapper:after {
	opacity: 1;
	background-position: 20px 20px;
}

/* ELEMENT LINE */

.element-line {
	color: var(--element);
	font-size: var(--small-text);
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.element-line::before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 15px;
	background-image: url(../images/interface/mapmarker.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 8px;
	position: relative;
	top: 1.4px;
}

/* ADVANTAGES */

.advantages {
	padding-top: 50px;
	padding-bottom: 255px;
	background-color: var(--dark);
	color: #fff;
	text-align: center;
}
.advantages-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 40px 0;
}
.advantages-item {
	width: 343px;
  font-size: var(--small-text);
  margin: 10px 0;
  text-align: start;
  display: flex;
  align-items: center;
}
.advantages-item img {
	width: 40px;
	height: 40px;
}
.advantages-item span {
	margin: 0 23px;
	line-height: var(--lineheight);
}

/* BLOG */

.blog {
	color: #fff;
	text-align: center;
	margin-top: -200px;
	padding-bottom: 65px;
}
.blog__content{
	margin: 45px 0px;
}
.blog__item-wrapper {
	display: flex;
	overflow: hidden;
  margin-bottom: var(--gutter);
}
.blog-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	border: 1px solid var(--accent);
	border-radius: var(--radius-style);
	padding: 15px;
	color: var(--text);
	text-align: left;
}
.blog-item__top, .blog-item__last{
	position: relative;
}
.blog-item__top img, .blog-item__last img{
	width: 100%;
}
.blog__date{
	position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  color: #fff;
  font-family: roboto-wt, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
	line-height: 1.25;
  background-color: var(--accent);
  border-radius: var(--radius-style);
}
.blog__title {
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.25;
	border-left: 3px solid var(--accent);
	padding-left: 15px;
	margin-top: var(--gutter);
}
.blog__desc {
	font-size: var(--small-text);
	line-height: var(--lineheight);
	padding: 10px 0 10px 15px;
}
.blog-item a {
	color: var(--text);
	font-weight: 800;
	font-size: 18px;
	padding-left: 15px;
}
.blog-item__last{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	/* min-height: 324px; */
	margin: 0;
	text-align: center;
	background-color: #fff;
}
.blog-item__last:hover img{
	opacity: .5;
	transition: opacity .5s ease-out;
}
.blog-item__last span {
	color: var(--text);
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	z-index: 1000;
}
.blog-item__last img{
	position: absolute;
	top: 0;
	left: 0;
	opacity: .8;
}

/* SCROLL UP */

.scrollup {
	width:40px;
	height:40px;
	opacity:0.3;
	position:fixed;
	bottom:30px;
	right:30px;
	display:none;
	text-indent:-9999px;
	background: url('../images/interface/icon_top.png') no-repeat;
}
